{{ template "header" . }}

<form method="POST" action="/{{ .page.Name }}" class="form" id="editorForm">
  {{ .csrf }}
	<textarea id="content" name="content" class="is-hidden">{{ .content }}</textarea>
  <div class="editor-controls">
    <button type="submit" class="button">
      <span class="icon"><i class="fa-solid fa-floppy-disk"></i></span>
      <span>Save</span>
    </button>
  </div>
</form>

<style>
 #editor {
     outline: none;
 }
</style>
<div id="editor" contenteditable></div>
<script src="/public/js/editor.js"></script>
<script type="module">
 const textarea = document.getElementById("content")
 const editor = document.getElementById("editor")
 const form = document.getElementById("editorForm")

 Editor(editor, textarea.value)

 /* form.addEventListener("submit", syncEditor) */

 document.addEventListener('keydown', function(event) {
     const e = event || window.event

     if ( e.key === 's' && (e.ctrlKey || e.metaKey ) ) {
         e.preventDefault()
         /* syncEditor()
          * form.submit() */
     }
 })
</script>
{{ template "footer" . }}
